APP_NAME=chat-service
APP_ENV=local
APP_KEY=base64:changeme
APP_DEBUG=true
APP_TIMEZONE=America/Lima

DB_CONNECTION=mysql
DB_HOST=chat-db
DB_PORT=3306
DB_DATABASE=chat_db
DB_USERNAME=root
DB_PASSWORD=rootpass

JWT_SECRET=super-secret-key-change-in-production
JWT_ALGORITHM=HS256

SOCIAL_SERVICE_URL=
SOCIAL_SERVICE_SCHEME=http
SOCIAL_SERVICE_HOST=profile-social-service
SOCIAL_SERVICE_PORT=8000
