[Unit]
Description=monitoreorevivir Verclips Server
After=network.target

[Service]
WorkingDirectory=/opt/monitoreorevivir/ome
ExecStart=/usr/bin/python3 /opt/monitoreorevivir/ome/Verclips.py
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
