MONITOR_ROOT=/opt/monitoreorevivir
STACK_NAME=monitoreorevivir
PUBLIC_DOMAIN=nuevotunel.ddns.net
OME_CONTAINER=monitoreorevivir-ome
DB_CONTAINER=monitoreorevivir-db
DB_HOST=monitoreorevivir-db
DB_PORT=3306
UPLOAD_SERVER_PORT=5001
VERCLIPS_PORT=5000
STATS_WS_PORT=5002
OME_HTTP_PORT=8080
OME_STREAM_PORT=3333
OME_RTMP_PORT=1935
OME_STUN_TURN_PORT=3478
