APP_NAME=profile-social-service
APP_ENV=local
APP_KEY=base64:changeme
APP_DEBUG=true
APP_TIMEZONE=America/Lima

DB_CONNECTION=mysql
DB_HOST=social-db
DB_PORT=3306
DB_DATABASE=social_db
DB_USERNAME=root
DB_PASSWORD=rootpass

JWT_SECRET=super-secret-key-change-in-production
JWT_ALGORITHM=HS256

AUTH_SERVICE_URL=
AUTH_SERVICE_SCHEME=http
AUTH_SERVICE_HOST=auth-service
AUTH_SERVICE_PORT=8000
